.form__container{
    
    background: rgb(69, 100, 100);
    box-shadow:5px 6px 5px #888888;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    border-radius: 10px;
    
    
    
}

label{
    text-align: start;
    font-size: 1rem;
    color: aliceblue;
}

input, select{
    width: 20rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    height: 3rem;
}

input[type='radio']{
    width:1.2rem;
    margin: 0 0.5rem 0 1rem;
}

textarea{
    border-radius: 5px;
    margin: 1rem 0;
    height: 5rem;
    width: 20rem;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: rgb(238, 165, 123);
    border: none;
    box-shadow: none;
    border-radius: 5px;
    width: fit-content;
}