body{
    background-image: linear-gradient(to right, rgb(69, 100, 100), rgb(68, 92, 92));
}
form{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form__container{
    width: 40%;
    background: rgba(138, 153, 161, 0.5);
    box-shadow:5px 5px 15px;
    border-radius: 10px;
    padding: 2rem;
    
}
.heading{
    padding: 0.5rem;
    color: rgb(53, 55, 56);   
    text-align: center;
    
}
label{
    
    font-size: 1.2rem;
    color: aliceblue;
}

input, select{
    font-size: 1rem;
    margin: 1rem 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 3rem;
}

input[type='radio']{
    width:0.8rem;
    margin: 0.2rem;
}

textarea{
    border-radius: 5px;
    margin: 0.5rem 0;
    height: 5rem;
    width: 100%;
}

button{
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: rgb(245, 159, 133);
    border: none;
    box-shadow: none;
    border-radius: 5px;
    width: fit-content;
}

button:hover{
    background-color: rgb(207, 143, 123);
}

@media screen and (max-width:500px){
    .form__container{
        width: 80%;
    }
    input, select{
        font-size: 0.9rem;
    }
    input[type='radio']{
        width:0.6rem;
    }
    label{
        font-size: 1rem;
    }

}