form{
    
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container{
    justify-content: center;
    background: rgb(69, 100, 100);
    box-shadow:5px 6px 5px #888888;
    padding: 1rem;
    border-radius: 10px;
    width:50%;
    
}
.heading{
    padding: 0.5rem;
    border: 2px solid aliceblue;
    color: aliceblue;   
    
}
label{
    
    font-size: 1.2rem;
    color: aliceblue;
}

input, select{
    width: 50%;
    margin: 0.8rem 0 ;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    height: 3rem;
    padding-left: 0.5rem;
}

input[type='radio']{
    width:1.5rem;
    margin: 0 0.5rem 0 1rem;
}

textarea{
    border-radius: 5px;
    margin: 0.5rem 0;
    height: 5rem;
    width: 50%;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: rgb(241, 143, 113);
    border: none;
    box-shadow: none;
    border-radius: 5px;
    width: fit-content;
}

